    *{
      margin: 0;
      padding: 0;
            font-family: 'Montserrat', sans-serif;

    }
    .forlogo{
      position: absolute;
      left: 45%;
      top: 0;
      font-family: 'Abel', sans-serif;
    }
    .forlogoicon{
      position: absolute;
      right: 8%;
      top: 2%;
      font-size: 24px;
    }

        .search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 10px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}
.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #303030;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px
}

.search-icon:hover {
    color: #fff !important
}
.forheading{
  font-family: 'Montserrat', sans-serif;
  color: #bc1821;
  text-transform: uppercase;
   font-weight: bolder;
   font-size: 28px;
}
.foroffer{
  position: relative;
}
.offerbtn{
  position: absolute;
  top: 24%;
  right: 44%;
}
.forbrandname{
  position: absolute;
   bottom: -25%; 
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   text-transform: uppercase;
   color: #000;
}
.forbrandname li a{
  color: #000;
}
.forbrandname li a:active{
  color: #bc1821;
}

.swiper-container {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 200px;
       height: 200px;
      }
      .forheading2{
        text-transform: uppercase;
         color: #00bae9; 
        font-weight: 700;
      }
      .forproductslide{
        height: 365px;
      /*  width: 220px;*/
      width: 210px;
      }
      .forproductslide2{
        height: 330px;
        width: 280px;
      }

      .forcard{
         width: 14rem; 
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
      }

/*.forcard{
  background:#404040;
   color: #fefefe;
   font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 18rem;

}*/
.card-body{
  padding: 6px;
}
.card-title{
        font-family: 'Montserrat', sans-serif;
         font-size: 18px;
         font-weight: bold;
}
.forbutton{
  border: 9px solid #fff;
}
 .fordiscount{
  position: absolute;
  top: 10px;
  background: #bc1821;
  border-radius: 0 11px 11px 0;
  color: #fff;
  font-size: 12px;
  padding: 2px;
  padding-right: 5px;
}
.forquicklook{
  position: absolute;
  right: 5px;
  top: 10px;
  background: #efefef;
  background-blend-mode: lighten;
  padding: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.forquicklook i{
  display: flex;
  justify-content: center;
  margin-top: 4px;
 font-size: 12px;
 font-weight: bolder;
 
}
.forbtn{
  background: #00ade9;
  position: absolute; 
   right: 5px; 
  top: 86%;
  border: none;
  outline: none;
}
.swiper-slide {
         box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.home-newsletter {
padding: 30px 0;
background: #fff;
}

.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2;
 }
.home-newsletter .single h2 {
font-size: 22px;
color: #000;
text-transform: uppercase;
margin-bottom: 40px; }
.home-newsletter .single .form-control {
height: 50px;
background: rgba(0, 0, 0, 0.3);
border-color: transparent;
border-radius: 20px 0 0 20px;
border: 1px solid #ddd; 
}
.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.home-newsletter .single .btn {
min-height: 50px; 
border-radius: 0 20px 20px 0;
background: #00bae9;
color: #fff;
}
 @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


 .container-fluid2 {
     overflow: hidden;
     margin-top: 50px;
     background: #262626;
     color: #fff !important;
     margin-bottom: 0;
     padding-bottom: 0
 }

 small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: #989c9e !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .social {
     font-size: 21px !important
 }

 .rights {
     font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }
 .col-lg-3{
  padding-left: 0px;
 }
@media(max-width: 1200px){
  .offerbtn{
    top: 19%; 
    right: 35%;
  }
}

    @media(max-width: 680px){
      .forlogo{ 
        left: 14%;
        top: -2px;
      }
      .forlogoicon{
        right: 14%;

              }
      .search{
          height: 40px;
          padding: 5px;
          }
        .forbrandslide{
           width: 65px;
           height: 65px;
               box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

          }
 
          .forheading{
            font-size: 16px;
          }
          .offerbtn{
                right: 30%;
                top: 18%;
                height: 22px;
                width: 70px;
                font-size: 10px;
                line-height: 0.6;  
          }
          .forbrandname{
            bottom:-60%;
            font-size: 11px;
               left: 50%;
                transform: translate(-50%,-50%);
            padding-top: 5px;
            font-weight: 600;
          }
          .forproductslide{
            width: 150px;
            height: 270px;

          }
/*          .forproductslide2{
              width: 170px;
              height: 280px;
          }*/
/*           .forproductslide2{
              width: 170px;
              height: 270px;
          }*/
          .forcard{
            width: 10rem;
          }
          .card-title{
             font-size: 13px;
             line-height: 0.5;
             font-weight: bold;
          }
          .forcardtitle2{
            font-size: 10px; 
            line-height: 1;
          }
          .forbtn{
            top: 81%;
          }
)
--swiper-theme-color: #bc1821;
